body{
	background-color: #dddddd;
	width: 960px;
	margin-left: 8em;
}

header{
	width: 98.3%;
	background-color: #f37121;
	padding-left: 1em;
}

nav{
	height: 40px;
	background-color: #d3d3d3;
}

.navbar a{
	font-size: 18px;
	color: black;
	text-decoration: none;
	padding: 14px 20px;
	line-height: 40px;
	border-radius: 5px;
}

.navbar a:hover{
	color: white;
	background-color: #f37121;
}

main{
	width: 100%;
	height: 450px;
	min-height: auto;
	background-color: white;
}

article{
	width: 60%;
	height: 100%;
	overflow: auto;
	padding: 1.5em;
	float: left;
	background-color: white;
}

.content{
	display: flex;
	align-items: left;
	justify-content: space-around;
}

.left img{
	width: 250px;
}

.deskripsi h2{
	text-align: center;
}

.deskripsi p{
	font-size: 15px;
	padding-left: 1em;
}

aside{
	width: 30%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #bed7d1;
	padding: 1.5em;
}
.profile{
	display: flex;
	align-items: left;
	justify-content: space-around;
}

.foto img{
	width: 100px;
	padding-top: 1em;
}

.about-text{
	width: 500px;
}

.about-text h2{
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 15px;
	margin-left: 1em;
}

.about-text h3{
	font-size: 13px;
	margin-left: 2em;
}

.iden p{
	font-size: 14px;
}

footer{
	width: 100%;
	height: 40px;
	float: left;
	background-color: #778899;
}
.Copyright{
	text-align: center;
	padding: 10px;
	color: white;
}
